@import url("./globals.css");
@import url("./ui.css");
@import url("./tooltip.css");
@import url("./loader.css");
@import url("./checkbox.css");
@import url("./markdown-preview.css");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
	font-family: 'Inter';
	src: url('../assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
}

@theme {

	/* primary */
	--color-primary: var(--primary-color, #ffffff);

	--color-primary-05: var(--primary-color-05, #f2f2f2);
	--color-primary-10: var(--primary-color-10, #e6e6e6);
	--color-primary-15: var(--primary-color-15, #d9d9d9);
	--color-primary-20: var(--primary-color-20, #cccccc);
	--color-primary-25: var(--primary-color-25, #bfbfbf);
	--color-primary-30: var(--primary-color-30, #b3b3b3);
	--color-primary-35: var(--primary-color-35, #a6a6a6);
	--color-primary-40: var(--primary-color-40, #999999);
	--color-primary-45: var(--primary-color-45, #8c8c8c);
	--color-primary-50: var(--primary-color-50, #808080);
	--color-primary-55: var(--primary-color-55, #737373);
	--color-primary-60: var(--primary-color-60, #666666);
	--color-primary-65: var(--primary-color-65, #595959);
	--color-primary-70: var(--primary-color-70, #4d4d4d);
	--color-primary-75: var(--primary-color-75, #404040);
	--color-primary-80: var(--primary-color-80, #333333);
	--color-primary-85: var(--primary-color-85, #262626);
	--color-primary-90: var(--primary-color-90, #1a1a1a);
	--color-primary-95: var(--primary-color-95, #000000);

	--color-primary-foreground: var(--primary-color-foreground, black);

	/* secondary */
	--color-secondary: var(--secondary-color, black);
	--color-secondary-05: var(--secondary-color-05, var(--color-neutral-950));
	--color-secondary-10: var(--secondary-color-10, var(--color-neutral-900));
	--color-secondary-15: var(--secondary-color-15, var(--color-neutral-800));
	--color-secondary-20: var(--secondary-color-20, var(--color-neutral-800));
	--color-secondary-25: var(--secondary-color-25, var(--color-neutral-700));
	--color-secondary-30: var(--secondary-color-30, var(--color-neutral-700));
	--color-secondary-35: var(--secondary-color-35, var(--color-neutral-600));
	--color-secondary-40: var(--secondary-color-40, var(--color-neutral-600));
	--color-secondary-45: var(--secondary-color-45, var(--color-neutral-500));
	--color-secondary-50: var(--secondary-color-50, var(--color-neutral-500));
	--color-secondary-55: var(--secondary-color-55, var(--color-neutral-400));
	--color-secondary-60: var(--secondary-color-60, var(--color-neutral-400));
	--color-secondary-65: var(--secondary-color-65, var(--color-neutral-300));
	--color-secondary-70: var(--secondary-color-70, var(--color-neutral-300));
	--color-secondary-75: var(--secondary-color-75, var(--color-neutral-200));
	--color-secondary-80: var(--secondary-color-80, var(--color-neutral-200));
	--color-secondary-85: var(--secondary-color-85, var(--color-neutral-100));
	--color-secondary-90: var(--secondary-color-90, var(--color-neutral-100));
	--color-secondary-95: var(--secondary-color-95, var(--color-neutral-50));
	--color-secondary-foreground: var(--secondary-color-foreground, var(--color-white));


	/* breakpoints  */
	--breakpoint-xxs: 15rem;
	/* fonts */

}

/* @source inline("animate-ping"); */
/* @source inline("animate-spin"); */
/* @source inline("animate-pulse"); */
/* @source inline("animate-bounce"); */
