/* Base button style */
.tool-tip {
	--pos: relative;
	position: var(--pos);
	/* display: inline-block; */
	overflow: visible;
}


/* Tooltip content */
.tool-tip-content {
	--padding: calc(var(--spacing) * 1) calc(var(--spacing) * 2);
	--font-size: var(--text-xs);
	padding: var(--padding);
	position: absolute;
	max-width: 20rem;
	background-color: var(--color-secondary-10);
	color: var(--color-secondary-80);
	font-size: var(--font-size);
	border-color: var(--color-secondary-15);
	border-style: solid;
	border-radius: 7px;
	opacity: 0;
	display: block;
	width: max-content;
	text-align: start;
	pointer-events: none;
	transform: translate(0, 0);
	/* transition: opacity 1s ease, transform 0.6s ease; */
	z-index: 10;
	white-space: normal;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

/* Show tool-tip on hover */
.tool-tip:hover .tool-tip-content {
	opacity: 1;
	pointer-events: auto;
	transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Positioning based on data-side */
.tool-tip-content[data-side="top"] {
	bottom: 100%;
	left: 50%;
	transform: translate(-50%, -6px);
	/* border-width: 0 1px 1px 1px; */
}

.tool-tip:hover .tool-tip-content[data-side="top"] {
	transform: translate(-50%, -10px);
}

.tool-tip-content[data-side="bottom"] {
	top: 100%;
	left: 50%;
	transform: translate(-50%, 6px);
	/* border-width: 1px 1px 0 1px; */
}

.tool-tip:hover .tool-tip-content[data-side="bottom"] {
	transform: translate(-50%, 10px);
}

.tool-tip-content[data-side="left"] {
	right: 100%;
	top: 50%;
	transform: translate(-6px, -50%);
	/* border-width: 1px 0 1px 1px; */
}

.tool-tip:hover .tool-tip-content[data-side="left"] {
	transform: translate(-10px, -50%);
}

.tool-tip-content[data-side="right"] {
	left: 100%;
	top: 50%;
	transform: translate(6px, -50%);
	/* border-width: 1px 1px 1px 0; */
}

.tool-tip:hover .tool-tip-content[data-side="right"] {
	transform: translate(10px, -50%);
}

/* Optional: small arrow */
.tool-tip-content::after {
	content: '';
	position: absolute;
	border-style: solid;
}

.tool-tip-content[data-side="top"]::after {
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0 5px;
	border-color: var(--color-secondary-10) transparent transparent transparent;
}

.tool-tip-content[data-side="bottom"]::after {
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 0 5px 5px 5px;
	border-color: transparent transparent var(--color-secondary-10) transparent;
}

.tool-tip-content[data-side="left"]::after {
	left: 100%;
	top: 50%;
	margin-top: -5px;
	border-width: 5px 0 5px 5px;
	border-color: transparent transparent transparent var(--color-secondary-10);
}

.tool-tip-content[data-side="right"]::after {
	right: 100%;
	top: 50%;
	margin-top: -5px;
	border-width: 5px 5px 5px 0;
	border-color: transparent var(--color-secondary-10) transparent transparent;
}
