/* UI */
.button-control {
	--c: var(--color-secondary-95);
	--bg: var(--color-secondary-20);
	--border-radius: var(--radius-lg);
	--h: calc(var(--spacing) * 9);
	--w: calc(var(--spacing) * 9);
	--px: 0;
	--py: 0;
	--opacity: 0.5;
	height: var(--size, var(--h));
	width: var(--size, var(--w));
	border-radius: var(--border-radius);
	padding-inline: calc(var(--spacing) * var(--px));
	padding-block: calc(var(--spacing) * var(--py));
	color: var(--c);
	opacity: var(--opacity);
	transition: all 0.2s ease-in-out;

	&:hover {
		background-color: color-mix(in oklab,
				var(--bg) 50%,
				transparent);
		opacity: 1;
	}

	&:active {
		transform: scale(0.95);
	}

	&:disabled {
		opacity: 0.4;
	}

	& svg {
		margin: auto;
	}

}


.button-control.primary {
	--c: var(--color-primary);
	--bg: rgba(var(--primary-rgb), 0.1);
}

.button-control.red {
	--c: var(--color-red-500);
	--bg: var(--color-red-900);

	&:hover {
		color: var(--color-red-500);
	}
}


.button-control.selected {
	background-color: color-mix(in oklab,
			var(--color-primary) 20%,
			transparent);
	color: var(--color-primary);
	border-color: var(--bg);
	opacity: 1;
}

.button {
	--padding-x: calc(var(--spacing) * 5);
	--padding-y: calc(var(--spacing) * 1.2);
	--border-w: 1px;
	--color: var(--color-secondary-foreground);
	--w: fit-content;
	--h: fit-content;
	width: var(--w);
	height: var(--h);
	border-width: var(--border-w);
	border-style: solid;
	border-radius: var(--radius-lg);
	padding-inline: var(--padding-x);
	padding-block: var(--padding-y);
	font-size: var(--text-sm);
	font-weight: var(--font-weight-medium);
	transition: 0.1s all ease-in-out;
	cursor: pointer;
	user-select: none;
	color: var(--color);

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}

	&.w-full {
		--w: 100%;
	}
}

.button.icon {
	--padding-x: calc(var(--spacing) * 1.2);
}

.button.primary {
	--color: var(--color-primary-foreground);
	border-color: var(--color-primary);
	background-color: var(--color-primary-20);

	&:not(:disabled):hover {
		background-color: var(--color-primary-10);
		border-color: var(--color-primary);
	}

	&:not(:disabled):active {
		background-color: var(--color-primary-30);
		border-color: var(--color-primary-10);
	}
}

.button.secondary {
	--color: var(--color-secondary-foreground);
	border-color: var(--color-secondary-10);
	background-color: var(--color-secondary-05);

	&:not(:disabled):hover {
		background-color: var(--color-secondary-10);
		border-color: var(--color-secondary-15);
	}

	&:not(:disabled):active {
		background-color: var(--color-secondary);
		border-color: var(--color-secondary-10);
	}
}

.button.destructive {
	--color: white;
	border-color: #8b1e1e;
	background-color: #b03030;

	&:not(:disabled):hover {
		background-color: #9e2a2a;
		border-color: #731818;
	}

	&:not(:disabled):active {
		background-color: #7f2020;
		border-color: #5f1414;
	}
}

.button.empty {
	--bg-color: transparent;
	--border-color: var(--color-empty-10, gray);
	--hover-bg-color: var(--color-empty-05, rgba(0, 0, 0, 0.05));
	--hover-border-color: var(--color-empty, gray);
	--text-color: var(--color-empty-20, black);
	color: var(--color-secondary-foreground);
	border-color: var(--border-color);
	background-color: var(--bg-color);

	&:not(:disabled):hover {
		background-color: var(--hover-bg-color);
		border-color: var(--hover-border-color);
	}

	&:not(:disabled):active {
		background-color: var(--bg-color);
	}
}


.input {
	--padding-x: calc(var(--spacing) * 2.5);
	--padding-y: calc(var(--spacing) * 1);
	--border-w: 2px;
	--bg-color: var(--high);
	--border-color: var(--color-secondary-15);
	--radius: var(--radius-md);
	--w: 100%;
	width: var(--w);
	font-size: var(--text-sm);
	border: 1px solid var(--bg-color);
	background-color: color-mix(in oklab, var(--bg-color) 50%, transparent);
	padding-inline: var(--padding-x);
	padding-block: var(--padding-y);
	border-radius: var(--radius);
	color: var(--secondary-text);

	&:focus {
		/* background-color: var(--bg-color); */
		border-color: var(--border-color);
	}

	&:invalid {
		border-color: var(--color-red-800);
	}

	&::placeholder {
		color: var(--color-secondary-40);
	}
}

.button-cm {
	display: flex;
	width: 100%;
	align-items: center;
	gap: calc(var(--spacing) * 3);
	padding-block: calc(var(--spacing) * 1.5);
	border-radius: var(--radius-md);
	transition: 0.3s all ease;
	padding-inline: calc(var(--spacing) * 2.5);
	margin-inline: auto;
	color: var(--color-neutral-600);
	font-size: var(--text-sm);

	&:hover {
		background: var(--secondary-color-10);
		color: var(--color-neutral-950);
	}

	&.active-cm:active {
		transform: scale(95%);
	}
}

.dark .button-cm {
	color: var(--color-neutral-400);

	&:hover {
		color: var(--color-neutral-50);
	}
}


.hr-cm {
	border-color: var(--secondary-color-05);
	margin-block: calc(var(--spacing) * 2);
	width: 100%;
}

/* From Uiverse.io by ClawHack1 */
/* Genel stil */
.toggle-switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 24px;
}

/* Giriş stil */
.toggle-switch .toggle-input {
	display: none;
}

/* Anahtarın stilinin etrafındaki etiketin stil */
.toggle-switch .toggle-label {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 24px;
	background-color: var(--secondary-color-20);
	border-radius: 34px;
	cursor: pointer;
	transition: background-color 0.3s;
}

/* Anahtarın yuvarlak kısmının stil */
.toggle-switch .toggle-label::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	top: 2px;
	left: 2px;
	background-color: var(--color-secondary);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
	transition: transform 0.3s;
}

/* Anahtarın etkin hale gelmesindeki stil değişiklikleri */
.toggle-switch .toggle-input:checked+.toggle-label {
	background-color: var(--primary-color-05);
}

.toggle-switch .toggle-input:checked+.toggle-label::before {
	transform: translateX(16px);
	/* background: var(--primary-color-95); */
}

.select {
	background: var(--color-secondary-10);
	height: fit-content;
	padding-inline: 0.25em;
	border-radius: 5px;
	color: var(--color-secondary-95);
}

.select select {
	padding-block: 0.75em;
	background: var(--color-secondary-10);
}

.progress-circle {
	--thickness: calc(5%);
	border-radius: 50%;
	background: conic-gradient(var(--accent-color) 0% var(--percentage),
			var(--base-color, var(--secondary-color-15)) var(--percentage) 100%);
	mask: radial-gradient(circle,
			transparent calc(50% - var(--thickness)),
			black calc(50% - var(--thickness) + 1px));
	-webkit-mask: radial-gradient(circle,
			transparent calc(50% - var(--thickness)),
			black calc(50% - var(--thickness) + 1px));

	transition: --percentage 0.5s ease-in-out;
}

.slider-range {
	-webkit-appearance: none;
	cursor: pointer;
	height: 8px;
	margin: 0;
	vertical-align: bottom;
	width: 100%;
}


.slider-range::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: var(--primary-color);
	border-radius: 8px;
	border: 4px solid var(--color-primary-60);
	/* box-shadow: inset 0 0 0 4px #eaeaea; */
	width: 16px;
	height: 16px;
	outline: 1px solid rgba(0, 0, 0, 0.2);
}




.keyboard-button {
	--tw-tracking: var(--tracking-widest);
	letter-spacing: var(--tracking-widest);
	color: var(--secondary-color-95);
	border-width: 0.1em 0.1em 0.3em 0.1em;
	border-color: var(--secondary-color-25);
	padding: 0 0.25em;
	background-color: var(--secondary-color-10);
	border-radius: 0.25em;
	text-transform: uppercase;
}
