/* *:not(.canvas-parent) { */
/* 	outline: none; */
/* } */

input:not(.outline-none),
textarea:not(.outline-none),
button:not(.outline-none),
select:not(.outline-none),
a:not(.outline-none),
[tabindex]:not(.outline-none),
[contenteditable="true"]:not(.outline-none) {
	outline-color: var(--color-secondary-10);

	&:focus {
		outline: 2px solid var(--color-secondary-10);
		outline-offset: 2px;
	}
}

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #f5f5f5;
	background-color: #0a0a0a;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	--layout-left: 0px;
	--layout-right: 0px;
	--layout-width: calc(var(--layout-right) + var(--layout-left));
	--grid-gap: 8;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a:not([target="_blank"]) {
	pointer-events: none;
	cursor: default;
	color: gray;
}

.titlebar {
	app-region: drag;
}

.titlebar button,
.titlebar .window-control {
	app-region: no-drag;
}

*::-webkit-scrollbar-thumb {
	background: color-mix(in oklab, var(--color-secondary-30) 10%, transparent);
	border-radius: 0.25rem;
}


*::-webkit-scrollbar {
	height: calc(var(--spacing) * 2);
	width: calc(var(--spacing) * 2);
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-corner {
	visibility: hidden;
}

.popup-shadow {
	box-shadow:
		0 0 25px -5px rgb(0 0 0 / 0.12),
		0 0 10px -6px rgb(0 0 0 / 0.12);
}

.dark .popup-shadow {
	box-shadow:
		0 0 30px -5px rgb(0 0 0 / 0.6),
		0 0 15px -6px rgb(0 0 0 / 0.5);
}


.scrollbar-hidden::-webkit-scrollbar {
	display: none;
}

.scrollbar-hidden {
	scrollbar-width: none;
}

.scrollbar-hidden {
	-ms-overflow-style: none;
}

.os-scrollbar {
	right: 1px !important;
	bottom: 1px !important;
}

*::selection {
	background: rgba(var(--primary-rgb), 0.3);
	color: var(--primary-color);
}

body {
	padding: 0;
	margin: 0;
	height: 100vh;
}

button {
	cursor: pointer;
}

a {
	text-decoration: underline;
}

#root {
	height: 100%;
}

.selector-logo {
	--color: white;

	& .core {
		fill: var(--color);
	}

	& .circle.c1,
	& .circle.c2 {
		stroke: var(--color);
	}
}

.app-container {
	margin: 0;
	position: relative;
	height: 100%;
}

.os-theme-native {
	--os-size: 8px !important;
	--os-handle-bg: var(--secondary-color-05) !important;
}

.react-colorful {
	width: 100% !important;
	height: 100% !important;
}

.react-colorful__pointer.react-colorful__hue-pointer {
	top: 50% !important;
	border-radius: 5px !important;
	width: 18px !important;
}


.overflow-reverse {
	overflow-y: scroll;
	overflow-x: visible !important;
}

.notify-status-bell circle {
	stroke: var(--color-primary);
	fill: var(--color-primary);
}








.orbit {

	transition: 1s transform ease;
	transform-origin: center;
}

.orbit:hover {
	transform: rotate(360deg);
}


.pop-up {
	--animation: fadeIn 0.4s ease forwards;
	position: absolute;
	inset: 0;
	background-color: rgb(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	animation: var(--animation);
	z-index: 503;
}


.up-pop {
	--bg-color: color-mix(in oklab, var(--color-secondary-05), var(--color-secondary));
	--border-w: 1px;
	--shadow: #4d4d4d;
	--position: absolute;
	border: 1px solid var(--color-secondary-10);
	position: var(--position);
	background: var(--bg-color);
	border-radius: var(--radius-lg);
	box-shadow: var(--shadow-2xl);
	padding: calc(var(--spacing) * 2);
	/* overflow: hidden; */
	/* transition: 0.2s all ease-in-out; */
	/* animation: animatetop 0.4s */
}


@keyframes animatetop {
	from {
		transform: translateY(-300px);
		opacity: 0
	}

	to {
		transform: translateY(0px);
		opacity: 1
	}
}

.up-pop .title-panel {
	--padding-x: 1rem;
	padding: 0.8rem var(--padding-x);
	/* border: 1px solid var(--color-secondary-10); */
	background-color: var(--color-secondary-10);
	border-radius: var(--radius-md);


	& .h1-title {
		color: var(--color-secondary-foreground);
		font-size: var(--text-lg);
		line-height: 1;
		font-weight: var(--font-weight-medium);

	}
}

.up-pop .content-panel {
	--padding-x: 1rem;
	padding: 0 var(--padding-x);
}

.up-pop .lvl-1 {
	/* h-[80%] max-h-[90%] w-6xl max-w-[90%]  lg:min-w-6xl */
	height: 70vh;
	max-height: 90vh;
	width: var(--container-6xl);
	max-width: 90vw;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.drop-down {
	--w: 100%;
	width: var(--w);
}

@media (min-width: 1024px) {
	.up-pop.lvl-1 {
		min-width: var(--container-6xl);
	}
}


.timer-bar {
	--duration: 3000ms;
	animation: timer-bar var(--duration) ease-in-out forwards;
}


@keyframes timer-bar {
	from {
		width: 100%;
	}

	to {
		width: 0;
	}
}

a.no-underline-alt {
	text-decoration: none;
}



.card-spot::before {
	content: "";
	position: absolute;
	background-color: var(--color-secondary-10);
	inset: var(--outer-margin);
	border-radius: var(--border-radius);
	z-index: 1;
	animation: load-card 2s ease-in-out forwards;
	pointer-events: none;
}

@keyframes load-card {
	0% {
		background-color: var(--color-secondary-10);
	}

	25% {
		background-color: var(--color-secondary-05);
	}

	50% {
		background-color: var(--color-secondary-10);
	}

	75% {
		background-color: var(--color-secondary-05);
	}

	100% {
		background-color: transparent;
	}
}


.debounce {
	opacity: 0.5;
	cursor: not-allowed;
	pointer-events: none;
}


.ui-resizable-handle {
	background-color: var(--color-secondary-10);
	border-radius: 100%;
}


.dark .driver-overlay path {
	fill: rgba(250, 250, 250, 0.2) !important;

}

.auto-text {
	filter: invert(1) grayscale(1) contrast(999);
}
