* {
	outline: none;
}

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color: #f5f5f5;
	background-color: #0a0a0a;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	--tc-50: var(--color-neutral-950);
	--tc-100: var(--color-neutral-900);
	--tc-150: var(--color-neutral-850);
	--tc-200: var(--color-neutral-800);
	--tc-250: var(--color-neutral-750);
	--tc-300: var(--color-neutral-700);
	--tc-350: var(--color-neutral-650);
	--tc-400: var(--color-neutral-600);
	--tc-450: var(--color-neutral-550);
	--tc-500: var(--color-neutral-500);
	--tc-550: var(--color-neutral-450);
	--tc-600: var(--color-neutral-400);
	--tc-650: var(--color-neutral-350);
	--tc-700: var(--color-neutral-300);
	--tc-750: var(--color-neutral-250);
	--tc-800: var(--color-neutral-200);
	--tc-850: var(--color-neutral-150);
	--tc-900: var(--color-neutral-100);
	--tc-950: var(--color-neutral-50);
}

.dark {
	--tc-50: var(--color-neutral-50);
	--tc-100: var(--color-neutral-100);
	--tc-150: var(--color-neutral-150);
	--tc-200: var(--color-neutral-200);
	--tc-250: var(--color-neutral-250);
	--tc-300: var(--color-neutral-300);
	--tc-350: var(--color-neutral-350);
	--tc-400: var(--color-neutral-400);
	--tc-450: var(--color-neutral-450);
	--tc-500: var(--color-neutral-500);
	--tc-550: var(--color-neutral-550);
	--tc-600: var(--color-neutral-600);
	--tc-650: var(--color-neutral-650);
	--tc-700: var(--color-neutral-700);
	--tc-750: var(--color-neutral-750);
	--tc-800: var(--color-neutral-800);
	--tc-850: var(--color-neutral-850);
	--tc-900: var(--color-neutral-900);
	--tc-950: var(--color-neutral-950);
}

.reverse-bg {
	--c: var(--color-primary-20);
	color: color-contrast(var(--c) vs white, black);
}


.titlebar {
	app-region: drag;
}

.titlebar button,
.titlebar .window-control {
	app-region: no-drag;
}

*::-webkit-scrollbar-thumb {
	background: var(--color-neutral-700);
	border-radius: 0.25rem;
	opacity: 0.3;
}

*:hover::-webkit-scrollbar-thumb {
	background: var(--color-neutral-700);
	opacity: 1;
}

*::-webkit-scrollbar {
	height: calc(var(--spacing) * 2);
	width: calc(var(--spacing) * 2);
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-corner {
	visibility: hidden;
}

.os-scrollbar {
	right: 1px !important;
	bottom: 1px !important;
}

*::selection {
	background: rgba(var(--primary-rgb), 0.3);
	color: var(--primary-color);
}

body {
	padding: 0;
	margin: 0;
	height: 100vh;
}

button {
	cursor: pointer;
}

a {
	text-decoration: underline;
}

#root {
	height: 100%;
}

.selector-logo {
	--color: white;

	& .core {
		fill: var(--color);
	}

	& .circle.c1,
	& .circle.c2 {
		stroke: var(--color);
	}
}

.app-container {
	margin: 0;
	position: relative;
	height: 100%;
}

.dnd-mode {
	user-select: none;
}

.grid-lines {
	--visible: var(--static-grid-lines);
	--simi-visible: color-mix(in oklab, var(--static-grid-lines), transparent 50%);
	--n: 4;
	--t: 1px;
	--g: 10px;
	--c: var(--visible) 25%, #0000 0;

	& .canvas {
		background:
			conic-gradient(at var(--g) var(--t), var(--c)) calc((var(--cw) / var(--n) - var(--g) + var(--t)) / 2) calc(var(--rh) - 1px) / calc(var(--cw) / var(--n)) var(--rh),
			conic-gradient(from 180deg at var(--t) var(--g),
				var(--c)) calc(var(--cw) - 1px) calc((var(--rh) / var(--n) - var(--g) + var(--t)) / 2) / var(--cw) calc(var(--rh) / var(--n));
	}
}



.os-theme-native {
	--os-size: 8px !important;
	--os-handle-bg: var(--secondary-color-05) !important;
}






.react-colorful {
	width: 100% !important;
	height: 100% !important;
}

.react-colorful__pointer.react-colorful__hue-pointer {
	top: 50% !important;
	border-radius: 5px !important;
	width: 18px !important;
}

/* custom UI */
.input {
	--padding-x: calc(var(--spacing) * 3);
	--padding-y: calc(var(--spacing) * 2);
	--border-w: 2px;
	--bg-color: var(--color-secondary-10);
	--border-color: var(--color-secondary-15);
	--w: 100%;
	width: var(--w);
	border: 1px solid var(--bg-color);
	background-color: color-mix(in oklab, var(--bg-color) 50%, transparent);
	padding-inline: var(--padding-x);
	padding-block: var(--padding-y);
	border-radius: 0.35rem;
	color: var(--tc-50);

	&:focus {
		/* background-color: var(--bg-color); */
		border-color: var(--border-color);
	}

	&:invalid {
		border-color: var(--color-red-800);
	}

	&::placeholder {
		color: var(--tc-700);
	}
}


/* From Uiverse.io by Galahhad */
.slider {
	/* slider */
	--slider-width: 100%;
	--slider-height: 6px;
	--slider-bg: var(--secondary-color-20);
	--slider-border-radius: 999px;
	/* level */
	--level-color: var(--primary-color);
	--level-transition-duration: 0.1s;
	/* icon */
	--icon-margin: 15px;
	--icon-color: var(--slider-bg);
	--icon-size: 25px;
}

.slider {
	cursor: pointer;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.slider .volume {
	display: inline-block;
	vertical-align: top;
	margin-right: var(--icon-margin);
	color: var(--icon-color);
	width: var(--icon-size);
	height: auto;
}

.slider .level {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: var(--slider-width);
	height: var(--slider-height);
	background: var(--slider-bg);
	overflow: hidden;
	border-radius: var(--slider-border-radius);
	-webkit-transition: height var(--level-transition-duration);
	-o-transition: height var(--level-transition-duration);
	transition: height var(--level-transition-duration);
	cursor: inherit;
}

.slider .level::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 0;
	height: 0;
	-webkit-box-shadow: -200px 0 0 200px var(--level-color);
	box-shadow: -200px 0 0 200px var(--level-color);
}

.slider:hover .level {
	height: calc(var(--slider-height) * 2);
}


.button-cm {
	display: flex;
	width: calc(100% - calc(var(--spacing) * 6));
	align-items: center;
	gap: calc(var(--spacing) * 3);
	padding-block: calc(var(--spacing) * 2);
	border-radius: 0.5em;
	transition: 0.3s all ease;
	padding-left: calc(var(--spacing) * 8);
	padding-right: var(--spacing);
	margin-inline: auto;

	&:hover {
		background: var(--secondary-color-15);
	}

	&.active-cm:active {
		transform: scale(95%);
	}
}


.hr-cm {
	border-color: var(--secondary-color-10);
	margin-block: calc(var(--spacing) * 2);
	width: 100%;
}

/* From Uiverse.io by ClawHack1 */
/* Genel stil */
.toggle-switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 24px;
	margin: 10px;
}

/* Giriş stil */
.toggle-switch .toggle-input {
	display: none;
}

/* Anahtarın stilinin etrafındaki etiketin stil */
.toggle-switch .toggle-label {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 24px;
	background-color: var(--secondary-color-20);
	border-radius: 34px;
	cursor: pointer;
	transition: background-color 0.3s;
}

/* Anahtarın yuvarlak kısmının stil */
.toggle-switch .toggle-label::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	top: 2px;
	left: 2px;
	background-color: var(--secondary-color-95);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
	transition: transform 0.3s;
}

/* Anahtarın etkin hale gelmesindeki stil değişiklikleri */
.toggle-switch .toggle-input:checked+.toggle-label {
	background-color: var(--primary-color-05);
}

.toggle-switch .toggle-input:checked+.toggle-label::before {
	transform: translateX(16px);
	background: var(--primary-color-95);
}

.select {
	background: var(--color-secondary-10);
	height: fit-content;
	padding-inline: 0.25em;
	border-radius: 5px;
	color: var(--color-secondary-95);
}

.select select {
	padding-block: 0.75em;
	background: var(--color-secondary-10);
}

.progress-circle {
	--thickness: calc(5%);
	border-radius: 50%;
	background: conic-gradient(var(--accent-color) 0% var(--percentage),
			var(--base-color, var(--secondary-color-15)) var(--percentage) 100%);
	mask: radial-gradient(circle,
			transparent calc(50% - var(--thickness)),
			black calc(50% - var(--thickness) + 1px));
	-webkit-mask: radial-gradient(circle,
			transparent calc(50% - var(--thickness)),
			black calc(50% - var(--thickness) + 1px));

	transition: --percentage 0.5s ease-in-out;
}

.slider-range {
	-webkit-appearance: none;
	cursor: pointer;
	height: 3px;
	margin: 0;
	transition: 0.1s ease-in;
	vertical-align: bottom;
	width: 100%;
}

.slider-wrap:hover .slider-range {
	height: 8px;
}

.slider-range::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: var(--primary-color);
	border-radius: 8px;
	box-shadow: inset 0 0 0 2px #eaeaea;
	height: 0;
	transition: 0.1s ease-in;
	width: 0;
}

.slider-wrap:hover .slider-range::-webkit-slider-thumb {
	width: 16px;
	height: 16px;
}

.hollow-effect {
	overflow: visible;

	&:hover .circle.c1,
	&:hover .circle.c2 {
		transform: rotate(360deg) rotateX(70deg);
	}

	/* &:hover .circle.core { */
	/* 	transform: scale(200%); */
	/* } */

	& .circle.c1 {
		transition: 0.5s transform ease;
		transform-origin: center;
		stroke: var(--color-secondary-90);
	}

	& .circle.c2 {
		transition: 1s transform ease;
		transform-origin: center;
		stroke: var(--color-secondary-90);
	}

	& .circle.core {
		transition: 1s transform ease;
		transform-origin: center;
		fill: var(--color-secondary-90);
	}
}



.keyboard-button {
	--tw-tracking: var(--tracking-widest);
	letter-spacing: var(--tracking-widest);
	color: var(--secondary-color-95);
	border-width: 1px 1px 3px 1px;
	border-color: var(--secondary-color-25);
	padding: 0 3px;
	background-color: var(--secondary-color-10);
	border-radius: 4px;
	text-transform: uppercase;
	font-size: var(--text-xs);
}

.overflow-reverse {
	overflow-y: scroll;
	overflow-x: visible !important;
}

.notify-status-bell circle {
	stroke: var(--color-primary);
	fill: var(--color-primary);
}













.orbit {

	.ring-1,
	.ring-2 {
		transition: 1s transform ease;
		transform-origin: center;
	}
}

.orbit:hover {
	.ring-1 {
		transform: rotate(360deg);
	}

	.ring-2 {
		transform: rotate(-360deg);
	}
}





/* .saturn { */
/* 	overflow: visible; */
/**/
/* 	.ring { */
/* 		transition: 1s transform ease; */
/* 		transform: rotate(-45deg); */
/* 	} */
/**/
/* } */
/**/
/* .saturn:hover { */
/* 	.core { */
/* 		animation: 1s saturn-life forwards; */
/* 	} */
/**/
/* 	.ring { */
/* 		transform: rotate(315deg); */
/* 	} */
/* } */

@keyframes saturn-life {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}


/* UI */


.button-control {
	--c: var(--tc-50);
	--bg: var(--color-secondary-20);
	--w: fit-content;
	--p: 2;
	--border-radius: var(--radius-md);
	width: var(--w);
	height: fit-content;
	border-radius: var(--border-radius);
	padding: calc(var(--spacing) * var(--p));
	color: color-mix(in oklab, var(--c) 80%, transparent);
	transition: all 0.2s ease-in-out;

	&:hover {
		background-color: color-mix(in oklab,
				var(--bg) 50%,
				transparent);
		color: var(--c);
		border-color: color-mix(in oklab,
				var(--bg) 50%,
				transparent);
	}

	&:active {
		transform: scale(0.95);
	}

	&:disabled {
		opacity: 0.4;
	}

}


.button-control.primary {
	--c: var(--color-primary);
	--bg: rgba(var(--primary-rgb), 0.1);
}

.button-control.red {
	--c: var(--color-red-500);
	--bg: var(--color-red-900);
}


.button-control.selected {
	background-color: color-mix(in oklab,
			var(--color-primary) 20%,
			transparent);
	color: var(--color-primary);
	border-color: var(--bg);
}

.button-primary {
	--padding-x: calc(var(--spacing) * 5);
	--padding-y: calc(var(--spacing) * 1);
	--border-w: 1px;
	--w: fit-content;
	width: var(--w);
	height: fit-content;
	color: color-contrast(var(--color-primary-20) vs white, black);
	border-width: var(--border-w);
	border-style: solid;
	border-color: var(--color-primary-10);
	background-color: var(--color-primary-20);
	border-radius: var(--radius-lg);
	padding-inline: var(--padding-x);
	padding-block: var(--padding-y);
	font-size: var(--text-sm);
	transition: 0.1s all ease-in-out;
	cursor: pointer;
	user-select: none;

	&:not(:disabled):hover {
		background-color: var(--color-primary-15);
		border-color: var(--color-primary);
	}

	&:not(:disabled):active {
		background-color: var(--color-primary-20);
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}

.button-secondary {
	--padding-x: calc(var(--spacing) * 5);
	--padding-y: calc(var(--spacing) * 1);
	--border-w: 1px;
	--w: fit-content;
	width: var(--w);
	height: fit-content;
	color: color-contrast(var(--color-secondary-20) vs white, black);
	border-width: var(--border-w);
	border-style: solid;
	border-color: var(--color-secondary-15);
	background: var(--color-secondary-10);
	border-radius: var(--radius-lg);
	padding-inline: var(--padding-x);
	padding-block: var(--padding-y);
	font-size: var(--text-sm);
	transition: 0.1s all ease-in-out;
	cursor: pointer;
	user-select: none;

	&:not(:disabled):hover {
		background: var(--color-secondary-10);
		border-color: var(--color-secondary-20);
	}

	&:not(:disabled):active {
		background-color: var(--color-secondary-05);
		border-color: var(--color-secondary-15);
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}


.button-empty {
	--padding-x: calc(var(--spacing) * 5);
	--padding-y: calc(var(--spacing) * 1);
	--border-w: 1px;
	--bg-color: transparent;
	--border-color: var(--color-empty-10, gray);
	--hover-bg-color: var(--color-empty-05, rgba(0, 0, 0, 0.05));
	--hover-border-color: var(--color-empty, gray);
	--text-color: var(--color-empty-20, black);
	--radius: var(--radius-lg);
	--w: fit-content;
	width: var(--w);
	height: fit-content;
	color: color-contrast(var(--text-color) vs white, black);
	border-width: var(--border-w);
	border-style: solid;
	border-color: var(--border-color);
	background-color: var(--bg-color);
	border-radius: var(--radius);
	padding-inline: var(--padding-x);
	padding-block: var(--padding-y);
	font-size: var(--text-sm);
	transition: 0.1s all ease-in-out;
	cursor: pointer;
	user-select: none;

	&:not(:disabled):hover {
		background-color: var(--hover-bg-color);
		border-color: var(--hover-border-color);
	}

	&:not(:disabled):active {
		background-color: var(--bg-color);
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}

.pop-up {
	position: absolute;
	inset: 0;
	background-color: rgb(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	animation: fadeIn 0.4s ease forwards;
}


.up-pop {
	--bg-color: var(--color-secondary);
	--border-color: var(--color-secondary-10);
	--shadow: #212121;
	/* overflow: hidden; */
	position: absolute;
	background: var(--bg-color);
	border-radius: var(--radius-lg);
	border: 1px solid var(--border-color);
	box-shadow: 0px 0px 30px var(--shadow);
	transition: 0.2s all ease-in-out;
	/* animation: animatetop 0.4s */
}

.dark .up-pop {
	--shadow: black;
}

@keyframes animatetop {
	from {
		transform: translateY(-300px);
		opacity: 0
	}

	to {
		transform: translateY(0px);
		opacity: 1
	}
}

.up-pop .title-panel {
	--padding-x: 1rem;
	padding: 0.5rem var(--padding-x);
	background-color: color-mix(in oklab, var(--color-secondary-10) 100%, transparent 60%);

	&>h1 {
		color: var(--tc-400);
		letter-spacing: var(--tracking-wide);
	}
}

.up-pop .content-panel {
	--padding-x: 1rem;
	padding: 0 var(--padding-x);
}

.up-pop.lvl-1 {
	/* h-[80%] max-h-[90%] w-6xl max-w-[90%]  lg:min-w-6xl */
	height: 80%;
	max-height: 90%;
	width: var(--container-6xl);
	max-width: 90%;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.button-ctl {
	border-radius: 0.4rem;
	padding: 0.3rem;
	width: 2rem;
	height: 2rem;
	background-color: transparent;

	&:hover {
		background-color: var(--color-secondary-10);
	}
}




.drop-down {
	--w: calc(var(--spacing) * 70);
	width: var(--w);

}




@media (min-width: 1024px) {
	.up-pop.lvl-1 {
		min-width: var(--container-6xl);
	}
}
