*:not(.canvas-parent) {
	outline: none;
}

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #f5f5f5;
	background-color: #0a0a0a;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	--layout-left: 0px;
	--layout-right: 0px;
	--layout-width: calc(var(--layout-right) + var(--layout-left));
	--grid-gap: 8;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	--tc-50: var(--color-neutral-950);
	--tc-100: var(--color-neutral-900);
	--tc-150: var(--color-neutral-850);
	--tc-200: var(--color-neutral-800);
	--tc-250: var(--color-neutral-750);
	--tc-300: var(--color-neutral-700);
	--tc-350: var(--color-neutral-650);
	--tc-400: var(--color-neutral-600);
	--tc-450: var(--color-neutral-550);
	--tc-500: var(--color-neutral-500);
	--tc-550: var(--color-neutral-450);
	--tc-600: var(--color-neutral-400);
	--tc-650: var(--color-neutral-350);
	--tc-700: var(--color-neutral-300);
	--tc-750: var(--color-neutral-250);
	--tc-800: var(--color-neutral-200);
	--tc-850: var(--color-neutral-150);
	--tc-900: var(--color-neutral-100);
	--tc-950: var(--color-neutral-50);
}

.dark {
	--tc-50: var(--color-neutral-50);
	--tc-100: var(--color-neutral-100);
	--tc-150: var(--color-neutral-150);
	--tc-200: var(--color-neutral-200);
	--tc-250: var(--color-neutral-250);
	--tc-300: var(--color-neutral-300);
	--tc-350: var(--color-neutral-350);
	--tc-400: var(--color-neutral-400);
	--tc-450: var(--color-neutral-450);
	--tc-500: var(--color-neutral-500);
	--tc-550: var(--color-neutral-550);
	--tc-600: var(--color-neutral-600);
	--tc-650: var(--color-neutral-650);
	--tc-700: var(--color-neutral-700);
	--tc-750: var(--color-neutral-750);
	--tc-800: var(--color-neutral-800);
	--tc-850: var(--color-neutral-850);
	--tc-900: var(--color-neutral-900);
	--tc-950: var(--color-neutral-950);
}

.reverse-bg {
	--c: var(--color-primary-20);
	color: color-contrast(var(--c) vs white, black);
}


.titlebar {
	app-region: drag;
}

.titlebar button,
.titlebar .window-control {
	app-region: no-drag;
}

*::-webkit-scrollbar-thumb {
	background: color-mix(in oklab, var(--tc-700) 10%, transparent);
	border-radius: 0.25rem;
}

*:hover::-webkit-scrollbar-thumb {
	background: var(--color-neutral-700);
	background: color-mix(in oklab, var(--tc-700) 90%, transparent);
}

*::-webkit-scrollbar {
	height: calc(var(--spacing) * 2);
	width: calc(var(--spacing) * 2);
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-corner {
	visibility: hidden;
}

.popup-shadow {
	box-shadow:
		0 0 25px -5px rgb(0 0 0 / 0.12),
		0 0 10px -6px rgb(0 0 0 / 0.12);
}

.dark .popup-shadow {
	box-shadow:
		0 0 30px -5px rgb(0 0 0 / 0.6),
		0 0 15px -6px rgb(0 0 0 / 0.5);
}


.scrollbar-hidden::-webkit-scrollbar {
	display: none;
}

.scrollbar-hidden {
	scrollbar-width: none;
}

.scrollbar-hidden {
	-ms-overflow-style: none;
}

.os-scrollbar {
	right: 1px !important;
	bottom: 1px !important;
}

*::selection {
	background: rgba(var(--primary-rgb), 0.3);
	color: var(--primary-color);
}

body {
	padding: 0;
	margin: 0;
	height: 100vh;
}

button {
	cursor: pointer;
}

a {
	text-decoration: underline;
}

#root {
	height: 100%;
}

.selector-logo {
	--color: white;

	& .core {
		fill: var(--color);
	}

	& .circle.c1,
	& .circle.c2 {
		stroke: var(--color);
	}
}

.app-container {
	margin: 0;
	position: relative;
	height: 100%;
}

.os-theme-native {
	--os-size: 8px !important;
	--os-handle-bg: var(--secondary-color-05) !important;
}

.react-colorful {
	width: 100% !important;
	height: 100% !important;
}

.react-colorful__pointer.react-colorful__hue-pointer {
	top: 50% !important;
	border-radius: 5px !important;
	width: 18px !important;
}


.overflow-reverse {
	overflow-y: scroll;
	overflow-x: visible !important;
}

.notify-status-bell circle {
	stroke: var(--color-primary);
	fill: var(--color-primary);
}








.orbit {

	transition: 1s transform ease;
	transform-origin: center;
}

.orbit:hover {
	transform: rotate(360deg);
}


.pop-up {
	--animation: fadeIn 0.4s ease forwards;
	position: absolute;
	inset: 0;
	background-color: rgb(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	animation: var(--animation);
	z-index: 503;
}


.up-pop {
	--bg-color: var(--color-secondary);
	--border-color: var(--color-secondary-10);
	--shadow: #4d4d4d;
	--position: absolute;
	position: var(--position);
	background: var(--bg-color);
	border-radius: var(--radius-lg);
	border: 1px solid var(--border-color);
	box-shadow: var(--shadow-2xl);
	/* overflow: hidden; */
	/* transition: 0.2s all ease-in-out; */
	/* animation: animatetop 0.4s */
}


@keyframes animatetop {
	from {
		transform: translateY(-300px);
		opacity: 0
	}

	to {
		transform: translateY(0px);
		opacity: 1
	}
}

.up-pop .title-panel {
	--padding-x: 1rem;
	padding: 0.5rem var(--padding-x);
	background-color: var(--color-secondary-05);

	& .h1-title {
		color: var(--tc-400);
		letter-spacing: var(--tracking-wide);
	}
}

.up-pop .content-panel {
	--padding-x: 1rem;
	padding: 0 var(--padding-x);
}

.up-pop .lvl-1 {
	/* h-[80%] max-h-[90%] w-6xl max-w-[90%]  lg:min-w-6xl */
	height: 70vh;
	max-height: 90vh;
	width: var(--container-6xl);
	max-width: 90vw;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.drop-down {
	--w: 100%;
	width: var(--w);
}

@media (min-width: 1024px) {
	.up-pop.lvl-1 {
		min-width: var(--container-6xl);
	}
}


.timer-bar {
	--duration: 3000ms;
	animation: timer-bar var(--duration) ease-in-out forwards;
}


@keyframes timer-bar {
	from {
		width: 100%;
	}

	to {
		width: 0;
	}
}

a.no-underline-alt {
	text-decoration: none;
}



.card-spot::before {
	content: "";
	position: absolute;
	background-color: var(--color-secondary-10);
	inset: var(--outer-margin);
	border-radius: var(--border-radius);
	z-index: 1;
	animation: load-card 2s ease-in-out forwards;
	pointer-events: none;
}

@keyframes load-card {
	0% {
		background-color: var(--color-secondary-10);
	}

	25% {
		background-color: var(--color-secondary-05);
	}

	50% {
		background-color: var(--color-secondary-10);
	}

	75% {
		background-color: var(--color-secondary-05);
	}

	100% {
		background-color: transparent;
	}
}


.debounce {
	opacity: 0.5;
	cursor: not-allowed;
	pointer-events: none;
}


.ui-resizable-handle {
	background-color: var(--color-secondary-10);
	border-radius: 100%;
}
